@import "tailwindcss";

:root {
  --bg-color: #efefef;
  --foreground: #2b2b2b;
  --primary: #00b47e;
  --secondary: #003d2b;
}


body {
  background: var(--bg-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}


.fix-height {
  min-height: calc(100vh - 120px);
}

.overflow-height {
  height: calc(100vh - 120px);
}